* {
  box-sizing: border-box;
}

body {
  margin: 4px 8px;
  padding: 0;
  background-color: #F5F5F7;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* 
  Desktop Screens and others except Mobiles
*/
@media (width>600px) {

  .pto-main-section {
    max-width: 768px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 12px;
    background-color: white;
  }

  .pto-section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* border: 1px solid black; */
  }

  .pto-section1 h2 {
    font-size: 20px;
  }

  .pending-icon-button button {
    background-color: #F4F5F7;
    color: #727272;
    /* font-weight: 600; */
    font-size: 16px;
    border: none;
    border-radius: 25px;
    padding: 8px;
    min-width: 120px;
    text-align: start;
    cursor: pointer;
  }

  .pending-icon-button i {
    background-color: #6A7B8D;
    font-size: 14px;
    padding: 4px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.822);
  }

  .pto-section2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    /* border: 1px solid red; */
  }

  .date-from-to {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    gap: 12px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    /* border: 1px solid blue; */
  }

  .date-box {
    /* min-width: 172px; */
    min-width: 48%;
    padding: 20px 12px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    border: 2px solid #f3f3f3;
    border-radius: 8px;
  }

  .date-from-to .day {
    font-size: 12px;
  }

  .date-from-to .year {
    color: #D1D7E0;
  }


  .month-year {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .between-icon i {
    color: #697D90;
  }

  .pto-section-2-column3 {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 12px;
    font-size: 16px;
    /* font-weight: 500; */
  }

  .requested-days {
    color: #8a8989;
  }

  .btn-propose-change button {
    color: #78BFCE;
    border: none;
    background-color: #F9FAFC;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 600;
  }

  .btn-propose-change button i {
    margin-right: 8px;
  }

  .pto-section3 .pto-request-reason {
    background-color: #f9fafc;
    min-height: 100px;
    padding: 12px;
    margin-bottom: 40px;
    border: 2px solid #f3f3f3;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
  }

  .pto-section4 {
    margin-bottom: 20px;
  }

  .pto-section4 .mng-form-title {
    font-size: 16px;
    font-weight: 600;
    border-top: 2px solid #f3f3f3;
    padding: 28px 0px;
  }

  .pto-section4 .input-note input[type="text"]  {
    width: 100%;
    min-height: 100px;
    border: 2px solid #f3f3f3;
    padding: 8px 8px 40px 8px;
    vertical-align: bottom;
  }

  ::placeholder {
    color: #d1d2d3;
    font-size: 15px;
  }

  .pto-section5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 12px;
  }

  .pto-section5 button {
    min-width: 150px;
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
  }

  .pto-section5 button.btn-reject-request {
    border: 2px solid #ee7878;
    color: #ee7878;
    background-color: transparent;
  }

  .pto-section5 button.btn-approve-request {
    border: none;
    background-color: #56AFC1;
    color: rgba(255, 255, 255, 0.904);
  }
}


/* -----------------------------------------------------
  Mobile Responsive Design
  Mobile First Approach (MFA)
  ------------------------------------------------------
*/

@media (width<=600px) {

  body {
    margin: 0;
  }

  .pto-main-section {
    margin: 8px;
    padding: 8px;
    border-radius: 12px;
    background-color: white;
  }

  .pto-section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* border: 1px solid black; */
  }

  .pto-section1 h2 {
    font-size: 20px;
  }

  .pending-icon-button button {
    background-color: #F4F5F7;
    color: #727272;
    /* font-weight: 600; */
    font-size: 16px;
    border: none;
    border-radius: 25px;
    padding: 8px;
    min-width: 120px;
    text-align: start;
    cursor: pointer;
  }

  .pending-icon-button i {
    background-color: #6A7B8D;
    font-size: 14px;
    padding: 4px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.822);
  }

  .pto-section2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    /* border: 1px solid red; */
  }

  .date-from-to {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    gap: 12px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    /* border: 1px solid blue; */
  }

  .date-box {
    /* min-width: 172px; */
    min-width: 48%;
    padding: 20px 12px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    border: 2px solid #f3f3f3;
    border-radius: 8px;
  }

  .date-from-to .day {
    font-size: 12px;
  }

  .date-from-to .year {
    color: #D1D7E0;
  }


  .month-year {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .between-icon i {
    color: #697D90;
  }

  .pto-section-2-column3 {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 12px;
    font-size: 16px;
    /* font-weight: 500; */
  }

  .requested-days {
    color: #8a8989;
  }

  .btn-propose-change button {
    color: #78BFCE;
    border: none;
    background-color: #F9FAFC;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 600;
  }

  .btn-propose-change button i {
    margin-right: 8px;
  }

  .pto-section3 .pto-request-reason {
    background-color: #f9fafc;
    min-height: 100px;
    padding: 12px;
    margin-bottom: 40px;
    border: 2px solid #f3f3f3;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
  }

  .pto-section4 {
    margin-bottom: 20px;
  }

  .pto-section4 .mng-form-title {
    font-size: 16px;
    font-weight: 600;
    border-top: 2px solid #f3f3f3;
    padding: 28px 0px;
  }

  .pto-section4 .input-note input[type="text"]  {
    width: 100%;
    min-height: 100px;
    border: 2px solid #f3f3f3;
    padding: 8px 8px 40px 8px;
    vertical-align: bottom;
  }

  ::placeholder {
    color: #d1d2d3;
    font-size: 15px;
  }

  .pto-section5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 12px;
  }

  .pto-section5 button {
    min-width: 150px;
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
  }

  .pto-section5 button.btn-reject-request {
    border: 2px solid #ee7878;
    color: #ee7878;
    background-color: transparent;
  }

  .pto-section5 button.btn-approve-request {
    border: none;
    background-color: #56AFC1;
    color: rgba(255, 255, 255, 0.904);
  }
}
